.App {
  text-align: center;
  padding: 1rem;
}
 h1{
  margin-bottom: 4rem;
 }

.parentBox{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.box{
  display: 'flex';
  flex-direction: 'column';
  border: 2px solid black; 
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}
